'@charset "utf-8";'
/* CSS Document */
/*html,body{font-family: 'Lato', sans-serif;}*/
body{ font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.headerbg{background: url(../images/hills.jpg);min-height:670px;width:100%;background-size:cover;position:relative;}
.headerbg .header{background:rgba(135, 132, 116, 0.76);height:110px;width:975px;margin:0 auto;}
.headerbg .header .container{width:975px;height:100%;margin-right:auto;margin-left:auto;}
.headerbg .header .container .logo{float:left;margin:22px 0 15px 0}
.headerbg .header .container .nav{float:right;}
.headerbg .header .container .nav ul li{display:inline-block;margin:45px 40px 0 0}
.headerbg .header .container .nav ul li a{color:#fff;font-size:18px;font-weight:bold;}
.headerbg .header .container .nav ul li a:hover{color:red}


.headerbg .home{font-size:54px;position:absolute;left:37%;top:32%;}
